* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 0 40px;
  padding: 40px 0;
  text-align: center;

  .img-box {
    width: 80px;
    height: 80px;
    border: 2px solid #333;
    border-radius: 20px;
    transition: 0.4s all;
    margin: 0 auto;
    background: #fff;

    img {
      margin-top: 20px;
      width: 40px;
    }
  }

  h1 {
    max-width: 100%;
    font-size: 1.5em;
    font-weight: 100;
  }

  p {
    max-width: 100%;
  }
}
