* {
  margin: 0;
  padding: 0;
}

.img-text {
  display: flex;
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
  justify-content: space-around;

  .text {
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 4rem;
      padding: 20px 0;
      font-weight: 500;
      color: #fff;
      margin: 0 auto;
    }

    p {
      color: #888;
      font-weight: 500;
    }
  }

  .img {
    max-width: 400px;
    width: 35%;
    img {
      width: 100%;
    }
  }
}

.reverse {
  .text {
    order: 1;
  }

  .img {
    order: 2;
  }
}

@media only screen and (max-width: 960px) {
  .img-text,
  .img-text2 {
    flex-direction: column;

    .img {
      width: 60%;
      margin: 0 auto;
    }

    .text {
      width: 90%;
      margin: 0 auto;
      text-align: center;

      h2 {
        text-align: center;
        font-size: 3em;
      }
    }
  }

  .reverse {
    .img {
      order: 1;
    }
    .text {
      order: 2;
    }
  }
}
