* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  padding: 100px 0;
  text-align: center;
  background: #212121;

  h1 {
    font-size: 6rem;
    padding: 20px 0;
    font-weight: bold;
    color: #fff;
    max-width: 35%;
    margin: 0 auto;
  }

  p {
    color: #888;
    font-weight: 500;
  }

  .cards {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
  }
}
